<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,139}</string>
                <key>spriteSourceSize</key>
                <string>{51,139}</string>
                <key>textureRect</key>
                <string>{{0,0},{51,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,134}</string>
                <key>spriteSourceSize</key>
                <string>{54,134}</string>
                <key>textureRect</key>
                <string>{{51,0},{54,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,134}</string>
                <key>spriteSourceSize</key>
                <string>{57,134}</string>
                <key>textureRect</key>
                <string>{{105,0},{57,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,137}</string>
                <key>spriteSourceSize</key>
                <string>{49,137}</string>
                <key>textureRect</key>
                <string>{{162,0},{49,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,135}</string>
                <key>spriteSourceSize</key>
                <string>{51,135}</string>
                <key>textureRect</key>
                <string>{{211,0},{51,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,136}</string>
                <key>spriteSourceSize</key>
                <string>{52,136}</string>
                <key>textureRect</key>
                <string>{{262,0},{52,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,136}</string>
                <key>spriteSourceSize</key>
                <string>{47,136}</string>
                <key>textureRect</key>
                <string>{{314,0},{47,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,139}</string>
                <key>spriteSourceSize</key>
                <string>{47,139}</string>
                <key>textureRect</key>
                <string>{{361,0},{47,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,137}</string>
                <key>spriteSourceSize</key>
                <string>{50,137}</string>
                <key>textureRect</key>
                <string>{{408,0},{50,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>M00.png</string>
            <key>size</key>
            <string>{458,139}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d1ea0cf744b83311566bfbbd1c86289:89fe6c7339846635effb0e95fba0a0da:75e1f874ecdc6a462fddefc84f8bd373$</string>
            <key>textureFileName</key>
            <string>M00.png</string>
        </dict>
    </dict>
</plist>
