<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,134}</string>
                <key>spriteSourceSize</key>
                <string>{56,134}</string>
                <key>textureRect</key>
                <string>{{0,0},{56,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,129}</string>
                <key>spriteSourceSize</key>
                <string>{51,129}</string>
                <key>textureRect</key>
                <string>{{56,0},{51,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,130}</string>
                <key>spriteSourceSize</key>
                <string>{53,130}</string>
                <key>textureRect</key>
                <string>{{107,0},{53,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,134}</string>
                <key>spriteSourceSize</key>
                <string>{49,134}</string>
                <key>textureRect</key>
                <string>{{160,0},{49,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,131}</string>
                <key>spriteSourceSize</key>
                <string>{51,131}</string>
                <key>textureRect</key>
                <string>{{209,0},{51,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,131}</string>
                <key>spriteSourceSize</key>
                <string>{52,131}</string>
                <key>textureRect</key>
                <string>{{260,0},{52,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,132}</string>
                <key>spriteSourceSize</key>
                <string>{48,132}</string>
                <key>textureRect</key>
                <string>{{312,0},{48,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,134}</string>
                <key>spriteSourceSize</key>
                <string>{47,134}</string>
                <key>textureRect</key>
                <string>{{360,0},{47,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,131}</string>
                <key>spriteSourceSize</key>
                <string>{50,131}</string>
                <key>textureRect</key>
                <string>{{407,0},{50,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>M01.png</string>
            <key>size</key>
            <string>{457,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ed7b0133adf3f6ae899177ddefd1985:95578fecad17977c90b4d6a03fc94e81:7850e3f85e107e6cd14e5c22368f7d42$</string>
            <key>textureFileName</key>
            <string>M01.png</string>
        </dict>
    </dict>
</plist>
