<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,143}</string>
                <key>spriteSourceSize</key>
                <string>{53,143}</string>
                <key>textureRect</key>
                <string>{{1,564},{53,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,137}</string>
                <key>spriteSourceSize</key>
                <string>{61,137}</string>
                <key>textureRect</key>
                <string>{{1,1},{61,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,140}</string>
                <key>spriteSourceSize</key>
                <string>{60,140}</string>
                <key>textureRect</key>
                <string>{{1,140},{60,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,144}</string>
                <key>spriteSourceSize</key>
                <string>{52,144}</string>
                <key>textureRect</key>
                <string>{{1,997},{52,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,142}</string>
                <key>spriteSourceSize</key>
                <string>{53,142}</string>
                <key>textureRect</key>
                <string>{{1,709},{53,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,141}</string>
                <key>spriteSourceSize</key>
                <string>{54,141}</string>
                <key>textureRect</key>
                <string>{{1,421},{54,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,141}</string>
                <key>spriteSourceSize</key>
                <string>{52,141}</string>
                <key>textureRect</key>
                <string>{{1,1143},{52,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,142}</string>
                <key>spriteSourceSize</key>
                <string>{53,142}</string>
                <key>textureRect</key>
                <string>{{1,853},{53,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,137}</string>
                <key>spriteSourceSize</key>
                <string>{56,137}</string>
                <key>textureRect</key>
                <string>{{1,282},{56,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>M02.png</string>
            <key>size</key>
            <string>{63,1285}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ed603567fe2f299d89d02e2901af3c5:d7b2d966871b3a5a2a1583e6aa3766f1:e8302d7c1d4e5eeb997115350566b3e2$</string>
            <key>textureFileName</key>
            <string>M02.png</string>
        </dict>
    </dict>
</plist>
