<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,131}</string>
                <key>spriteSourceSize</key>
                <string>{51,131}</string>
                <key>textureRect</key>
                <string>{{1,153},{51,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,128}</string>
                <key>spriteSourceSize</key>
                <string>{53,128}</string>
                <key>textureRect</key>
                <string>{{137,1},{53,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,129}</string>
                <key>spriteSourceSize</key>
                <string>{55,129}</string>
                <key>textureRect</key>
                <string>{{192,1},{55,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,132}</string>
                <key>spriteSourceSize</key>
                <string>{51,132}</string>
                <key>textureRect</key>
                <string>{{1,206},{51,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,131}</string>
                <key>spriteSourceSize</key>
                <string>{53,131}</string>
                <key>textureRect</key>
                <string>{{135,131},{53,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,132}</string>
                <key>spriteSourceSize</key>
                <string>{53,132}</string>
                <key>textureRect</key>
                <string>{{190,132},{53,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,132}</string>
                <key>spriteSourceSize</key>
                <string>{49,132}</string>
                <key>textureRect</key>
                <string>{{1,50},{49,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,134}</string>
                <key>spriteSourceSize</key>
                <string>{47,134}</string>
                <key>textureRect</key>
                <string>{{1,1},{47,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,131}</string>
                <key>spriteSourceSize</key>
                <string>{50,131}</string>
                <key>textureRect</key>
                <string>{{1,101},{50,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>M04.png</string>
            <key>size</key>
            <string>{248,265}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7232eb340093501404b68b294f6ce69:3992515e91ca1399a3c4f4a80771e39b:87176e5e75cb8a22628282f8a5d9fc91$</string>
            <key>textureFileName</key>
            <string>M04.png</string>
        </dict>
    </dict>
</plist>
