<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,133}</string>
                <key>spriteSourceSize</key>
                <string>{55,133}</string>
                <key>textureRect</key>
                <string>{{1,137},{55,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,129}</string>
                <key>spriteSourceSize</key>
                <string>{51,129}</string>
                <key>textureRect</key>
                <string>{{136,134},{51,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,131}</string>
                <key>spriteSourceSize</key>
                <string>{53,131}</string>
                <key>textureRect</key>
                <string>{{101,1},{53,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,134}</string>
                <key>spriteSourceSize</key>
                <string>{49,134}</string>
                <key>textureRect</key>
                <string>{{1,1},{49,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,130}</string>
                <key>spriteSourceSize</key>
                <string>{52,130}</string>
                <key>textureRect</key>
                <string>{{134,194},{52,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,131}</string>
                <key>spriteSourceSize</key>
                <string>{52,131}</string>
                <key>textureRect</key>
                <string>{{1,194},{52,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,131}</string>
                <key>spriteSourceSize</key>
                <string>{47,131}</string>
                <key>textureRect</key>
                <string>{{156,1},{47,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,133}</string>
                <key>spriteSourceSize</key>
                <string>{47,133}</string>
                <key>textureRect</key>
                <string>{{52,1},{47,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,130}</string>
                <key>spriteSourceSize</key>
                <string>{50,130}</string>
                <key>textureRect</key>
                <string>{{205,1},{50,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>M05.png</string>
            <key>size</key>
            <string>{266,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:462e56ed64a707a4d22e689b13d83fec:0580abc492d92b5604c9252587ab2e65:daad60e4bb54916d704bb5354102ba78$</string>
            <key>textureFileName</key>
            <string>M05.png</string>
        </dict>
    </dict>
</plist>
