<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,136}</string>
                <key>spriteSourceSize</key>
                <string>{51,136}</string>
                <key>textureRect</key>
                <string>{{1,203},{51,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,133}</string>
                <key>spriteSourceSize</key>
                <string>{51,133}</string>
                <key>textureRect</key>
                <string>{{140,1},{51,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,134}</string>
                <key>spriteSourceSize</key>
                <string>{54,134}</string>
                <key>textureRect</key>
                <string>{{193,1},{54,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,138}</string>
                <key>spriteSourceSize</key>
                <string>{50,138}</string>
                <key>textureRect</key>
                <string>{{1,151},{50,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,134}</string>
                <key>spriteSourceSize</key>
                <string>{51,134}</string>
                <key>textureRect</key>
                <string>{{141,137},{51,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,135}</string>
                <key>spriteSourceSize</key>
                <string>{52,135}</string>
                <key>textureRect</key>
                <string>{{194,137},{52,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,135}</string>
                <key>spriteSourceSize</key>
                <string>{48,135}</string>
                <key>textureRect</key>
                <string>{{1,50},{48,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,137}</string>
                <key>spriteSourceSize</key>
                <string>{47,137}</string>
                <key>textureRect</key>
                <string>{{1,1},{47,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,134}</string>
                <key>spriteSourceSize</key>
                <string>{49,134}</string>
                <key>textureRect</key>
                <string>{{1,100},{49,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>M06.png</string>
            <key>size</key>
            <string>{248,273}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6277ccdd5701366c35af611677e19c40:c0d41300f4295ca13f1f3e9922a43543:cad2e5b1c8bfa0dfb143a5134fe8cc6e$</string>
            <key>textureFileName</key>
            <string>M06.png</string>
        </dict>
    </dict>
</plist>
