<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,142}</string>
                <key>spriteSourceSize</key>
                <string>{63,142}</string>
                <key>textureRect</key>
                <string>{{1,1},{63,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,138}</string>
                <key>spriteSourceSize</key>
                <string>{62,138}</string>
                <key>textureRect</key>
                <string>{{143,66},{62,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,139}</string>
                <key>spriteSourceSize</key>
                <string>{63,139}</string>
                <key>textureRect</key>
                <string>{{145,1},{63,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,142}</string>
                <key>spriteSourceSize</key>
                <string>{59,142}</string>
                <key>textureRect</key>
                <string>{{286,1},{59,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,139}</string>
                <key>spriteSourceSize</key>
                <string>{60,139}</string>
                <key>textureRect</key>
                <string>{{207,66},{60,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,140}</string>
                <key>spriteSourceSize</key>
                <string>{62,140}</string>
                <key>textureRect</key>
                <string>{{1,66},{62,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,140}</string>
                <key>spriteSourceSize</key>
                <string>{59,140}</string>
                <key>textureRect</key>
                <string>{{1,130},{59,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,142}</string>
                <key>spriteSourceSize</key>
                <string>{59,142}</string>
                <key>textureRect</key>
                <string>{{347,1},{59,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,139}</string>
                <key>spriteSourceSize</key>
                <string>{59,139}</string>
                <key>textureRect</key>
                <string>{{269,145},{59,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>M07.png</string>
            <key>size</key>
            <string>{409,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21696a51591ead152ae3b6ad9b8e1ca9:191108d1e18a0d4ef8fef3d2d39d93c4:05f6ec38d676576f974df0a253c9a112$</string>
            <key>textureFileName</key>
            <string>M07.png</string>
        </dict>
    </dict>
</plist>
