<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,132}</string>
                <key>spriteSourceSize</key>
                <string>{58,132}</string>
                <key>textureRect</key>
                <string>{{1,523},{58,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,127}</string>
                <key>spriteSourceSize</key>
                <string>{61,127}</string>
                <key>textureRect</key>
                <string>{{1,1},{61,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,127}</string>
                <key>spriteSourceSize</key>
                <string>{61,127}</string>
                <key>textureRect</key>
                <string>{{1,130},{61,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,131}</string>
                <key>spriteSourceSize</key>
                <string>{59,131}</string>
                <key>textureRect</key>
                <string>{{1,259},{59,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,128}</string>
                <key>spriteSourceSize</key>
                <string>{58,128}</string>
                <key>textureRect</key>
                <string>{{1,919},{58,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,129}</string>
                <key>spriteSourceSize</key>
                <string>{59,129}</string>
                <key>textureRect</key>
                <string>{{1,392},{59,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,129}</string>
                <key>spriteSourceSize</key>
                <string>{58,129}</string>
                <key>textureRect</key>
                <string>{{1,657},{58,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,132}</string>
                <key>spriteSourceSize</key>
                <string>{57,132}</string>
                <key>textureRect</key>
                <string>{{1,1049},{57,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,129}</string>
                <key>spriteSourceSize</key>
                <string>{58,129}</string>
                <key>textureRect</key>
                <string>{{1,788},{58,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>M08.png</string>
            <key>size</key>
            <string>{63,1182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c5e121087bdb7051f8c8ceea8323b76:63fd437fb66e59706ae3e45c0949c8db:a943a895fdce11774c6c1156cdce1a0b$</string>
            <key>textureFileName</key>
            <string>M08.png</string>
        </dict>
    </dict>
</plist>
