<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,127}</string>
                <key>spriteSourceSize</key>
                <string>{55,127}</string>
                <key>textureRect</key>
                <string>{{1,768},{55,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,123}</string>
                <key>spriteSourceSize</key>
                <string>{57,123}</string>
                <key>textureRect</key>
                <string>{{1,643},{57,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,126}</string>
                <key>spriteSourceSize</key>
                <string>{59,126}</string>
                <key>textureRect</key>
                <string>{{1,386},{59,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,126}</string>
                <key>spriteSourceSize</key>
                <string>{52,126}</string>
                <key>textureRect</key>
                <string>{{1,1021},{52,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,126}</string>
                <key>spriteSourceSize</key>
                <string>{60,126}</string>
                <key>textureRect</key>
                <string>{{1,258},{60,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,127}</string>
                <key>spriteSourceSize</key>
                <string>{62,127}</string>
                <key>textureRect</key>
                <string>{{1,1},{62,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,126}</string>
                <key>spriteSourceSize</key>
                <string>{62,126}</string>
                <key>textureRect</key>
                <string>{{1,130},{62,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,127}</string>
                <key>spriteSourceSize</key>
                <string>{57,127}</string>
                <key>textureRect</key>
                <string>{{1,514},{57,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,122}</string>
                <key>spriteSourceSize</key>
                <string>{53,122}</string>
                <key>textureRect</key>
                <string>{{1,897},{53,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>M09.png</string>
            <key>size</key>
            <string>{64,1148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f11efdecf9a2cedce2b15088f86bc210:8861a01e694c82a824b69f769cf26ce9:72cc280e2e7b73f0c8c037e74136843f$</string>
            <key>textureFileName</key>
            <string>M09.png</string>
        </dict>
    </dict>
</plist>
