<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,130}</string>
                <key>spriteSourceSize</key>
                <string>{51,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{51,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,131}</string>
                <key>spriteSourceSize</key>
                <string>{57,131}</string>
                <key>textureRect</key>
                <string>{{134,132},{57,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,131}</string>
                <key>spriteSourceSize</key>
                <string>{59,131}</string>
                <key>textureRect</key>
                <string>{{1,223},{59,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,130}</string>
                <key>spriteSourceSize</key>
                <string>{59,130}</string>
                <key>textureRect</key>
                <string>{{193,133},{59,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,129}</string>
                <key>spriteSourceSize</key>
                <string>{59,129}</string>
                <key>textureRect</key>
                <string>{{133,1},{59,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,130}</string>
                <key>spriteSourceSize</key>
                <string>{57,130}</string>
                <key>textureRect</key>
                <string>{{194,1},{57,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,130}</string>
                <key>spriteSourceSize</key>
                <string>{57,130}</string>
                <key>textureRect</key>
                <string>{{1,107},{57,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,131}</string>
                <key>spriteSourceSize</key>
                <string>{55,131}</string>
                <key>textureRect</key>
                <string>{{1,166},{55,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,130}</string>
                <key>spriteSourceSize</key>
                <string>{51,130}</string>
                <key>textureRect</key>
                <string>{{1,54},{51,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>M10.png</string>
            <key>size</key>
            <string>{253,283}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:296a7503dc4f17564d0e5fd1aa471bb0:c424c579728aaa9c9ac6e199fa64e51f:e1916e7d1438804b5b2bdafba290d9c1$</string>
            <key>textureFileName</key>
            <string>M10.png</string>
        </dict>
    </dict>
</plist>
