<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{0,80},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,24}</string>
                <key>spriteSourceSize</key>
                <string>{61,24}</string>
                <key>textureRect</key>
                <string>{{372,0},{61,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,24}</string>
                <key>spriteSourceSize</key>
                <string>{61,24}</string>
                <key>textureRect</key>
                <string>{{311,0},{61,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,24}</string>
                <key>spriteSourceSize</key>
                <string>{61,24}</string>
                <key>textureRect</key>
                <string>{{433,0},{61,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{37,0},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{7,0},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{52,0},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{22,0},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,40}</string>
                <key>spriteSourceSize</key>
                <string>{137,40}</string>
                <key>textureRect</key>
                <string>{{137,38},{137,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,38}</string>
                <key>spriteSourceSize</key>
                <string>{134,38}</string>
                <key>textureRect</key>
                <string>{{628,0},{134,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,42}</string>
                <key>spriteSourceSize</key>
                <string>{83,42}</string>
                <key>textureRect</key>
                <string>{{357,38},{83,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,40}</string>
                <key>spriteSourceSize</key>
                <string>{137,40}</string>
                <key>textureRect</key>
                <string>{{0,38},{137,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,38}</string>
                <key>spriteSourceSize</key>
                <string>{134,38}</string>
                <key>textureRect</key>
                <string>{{494,0},{134,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,42}</string>
                <key>spriteSourceSize</key>
                <string>{83,42}</string>
                <key>textureRect</key>
                <string>{{274,38},{83,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,42}</string>
                <key>spriteSourceSize</key>
                <string>{83,42}</string>
                <key>textureRect</key>
                <string>{{523,38},{83,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,42}</string>
                <key>spriteSourceSize</key>
                <string>{83,42}</string>
                <key>textureRect</key>
                <string>{{440,38},{83,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,24}</string>
                <key>spriteSourceSize</key>
                <string>{61,24}</string>
                <key>textureRect</key>
                <string>{{189,0},{61,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,24}</string>
                <key>spriteSourceSize</key>
                <string>{61,24}</string>
                <key>textureRect</key>
                <string>{{128,0},{61,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,24}</string>
                <key>spriteSourceSize</key>
                <string>{61,24}</string>
                <key>textureRect</key>
                <string>{{67,0},{61,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,24}</string>
                <key>spriteSourceSize</key>
                <string>{61,24}</string>
                <key>textureRect</key>
                <string>{{250,0},{61,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>One.png</string>
            <key>size</key>
            <string>{800,680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d14cd05a2d9967de0b43d0b81dcacbc:9613d86465e900602219fa9f0763ed31:72f942c52909b34569bb0fed1501106a$</string>
            <key>textureFileName</key>
            <string>One.png</string>
        </dict>
    </dict>
</plist>
