<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,63}</string>
                <key>spriteSourceSize</key>
                <string>{86,63}</string>
                <key>textureRect</key>
                <string>{{782,1195},{86,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,114}</string>
                <key>spriteSourceSize</key>
                <string>{163,114}</string>
                <key>textureRect</key>
                <string>{{540,1037},{163,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,138}</string>
                <key>spriteSourceSize</key>
                <string>{216,138}</string>
                <key>textureRect</key>
                <string>{{585,894},{216,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,178}</string>
                <key>spriteSourceSize</key>
                <string>{272,178}</string>
                <key>textureRect</key>
                <string>{{713,1},{272,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,198}</string>
                <key>spriteSourceSize</key>
                <string>{316,198}</string>
                <key>textureRect</key>
                <string>{{1,881},{316,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,232}</string>
                <key>spriteSourceSize</key>
                <string>{377,232}</string>
                <key>textureRect</key>
                <string>{{1,237},{377,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,63}</string>
                <key>spriteSourceSize</key>
                <string>{86,63}</string>
                <key>textureRect</key>
                <string>{{782,1260},{86,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,114}</string>
                <key>spriteSourceSize</key>
                <string>{159,114}</string>
                <key>textureRect</key>
                <string>{{774,1034},{159,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,138}</string>
                <key>spriteSourceSize</key>
                <string>{198,138}</string>
                <key>textureRect</key>
                <string>{{362,1297},{198,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,180}</string>
                <key>spriteSourceSize</key>
                <string>{260,180}</string>
                <key>textureRect</key>
                <string>{{1,1270},{260,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,198}</string>
                <key>spriteSourceSize</key>
                <string>{328,198}</string>
                <key>textureRect</key>
                <string>{{1,471},{328,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,234}</string>
                <key>spriteSourceSize</key>
                <string>{380,234}</string>
                <key>textureRect</key>
                <string>{{1,1},{380,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,61}</string>
                <key>spriteSourceSize</key>
                <string>{86,61}</string>
                <key>textureRect</key>
                <string>{{824,552},{86,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,85}</string>
                <key>spriteSourceSize</key>
                <string>{147,85}</string>
                <key>textureRect</key>
                <string>{{803,874},{147,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,127}</string>
                <key>spriteSourceSize</key>
                <string>{219,127}</string>
                <key>textureRect</key>
                <string>{{319,1037},{219,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,149}</string>
                <key>spriteSourceSize</key>
                <string>{272,149}</string>
                <key>textureRect</key>
                <string>{{331,542},{272,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,60}</string>
                <key>spriteSourceSize</key>
                <string>{86,60}</string>
                <key>textureRect</key>
                <string>{{679,1342},{86,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,83}</string>
                <key>spriteSourceSize</key>
                <string>{150,83}</string>
                <key>textureRect</key>
                <string>{{787,722},{150,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,129}</string>
                <key>spriteSourceSize</key>
                <string>{210,129}</string>
                <key>textureRect</key>
                <string>{{276,1166},{210,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,151}</string>
                <key>spriteSourceSize</key>
                <string>{264,151}</string>
                <key>textureRect</key>
                <string>{{319,884},{264,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,72}</string>
                <key>spriteSourceSize</key>
                <string>{86,72}</string>
                <key>textureRect</key>
                <string>{{488,1202},{86,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,116}</string>
                <key>spriteSourceSize</key>
                <string>{163,116}</string>
                <key>textureRect</key>
                <string>{{656,1034},{163,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,168}</string>
                <key>spriteSourceSize</key>
                <string>{217,168}</string>
                <key>textureRect</key>
                <string>{{605,552},{217,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,187}</string>
                <key>spriteSourceSize</key>
                <string>{273,187}</string>
                <key>textureRect</key>
                <string>{{1,1081},{273,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,208}</string>
                <key>spriteSourceSize</key>
                <string>{316,208}</string>
                <key>textureRect</key>
                <string>{{1,671},{316,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,72}</string>
                <key>spriteSourceSize</key>
                <string>{86,72}</string>
                <key>textureRect</key>
                <string>{{562,1363},{86,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,115}</string>
                <key>spriteSourceSize</key>
                <string>{159,115}</string>
                <key>textureRect</key>
                <string>{{562,1202},{159,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,170}</string>
                <key>spriteSourceSize</key>
                <string>{198,170}</string>
                <key>textureRect</key>
                <string>{{587,722},{198,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,189}</string>
                <key>spriteSourceSize</key>
                <string>{266,189}</string>
                <key>textureRect</key>
                <string>{{319,693},{266,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,211}</string>
                <key>spriteSourceSize</key>
                <string>{328,211}</string>
                <key>textureRect</key>
                <string>{{383,1},{328,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,54}</string>
                <key>spriteSourceSize</key>
                <string>{86,54}</string>
                <key>textureRect</key>
                <string>{{782,1325},{86,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,97}</string>
                <key>spriteSourceSize</key>
                <string>{153,97}</string>
                <key>textureRect</key>
                <string>{{263,1297},{153,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,136}</string>
                <key>spriteSourceSize</key>
                <string>{221,136}</string>
                <key>textureRect</key>
                <string>{{657,414},{221,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,162}</string>
                <key>spriteSourceSize</key>
                <string>{278,162}</string>
                <key>textureRect</key>
                <string>{{383,214},{278,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,54}</string>
                <key>spriteSourceSize</key>
                <string>{86,54}</string>
                <key>textureRect</key>
                <string>{{767,1381},{86,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,101}</string>
                <key>spriteSourceSize</key>
                <string>{141,101}</string>
                <key>textureRect</key>
                <string>{{679,1199},{141,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,137}</string>
                <key>spriteSourceSize</key>
                <string>{224,137}</string>
                <key>textureRect</key>
                <string>{{663,275},{224,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,162}</string>
                <key>spriteSourceSize</key>
                <string>{275,162}</string>
                <key>textureRect</key>
                <string>{{380,378},{275,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>city.png</string>
            <key>size</key>
            <string>{892,1451}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce31471e1efb82db9c06c1f0867ad81c:47a66533fff1a0da9502e2ec22cb9bdd:39e36121e34d88ee9f5e38e7ee6d9b8e$</string>
            <key>textureFileName</key>
            <string>city.png</string>
        </dict>
    </dict>
</plist>
