<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,53}</string>
                <key>spriteSourceSize</key>
                <string>{61,53}</string>
                <key>textureRect</key>
                <string>{{193,908},{61,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,55}</string>
                <key>spriteSourceSize</key>
                <string>{62,55}</string>
                <key>textureRect</key>
                <string>{{129,888},{62,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,43}</string>
                <key>spriteSourceSize</key>
                <string>{71,43}</string>
                <key>textureRect</key>
                <string>{{129,843},{71,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,38}</string>
                <key>textureRect</key>
                <string>{{129,945},{46,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,64}</string>
                <key>spriteSourceSize</key>
                <string>{61,64}</string>
                <key>textureRect</key>
                <string>{{185,116},{61,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,138}</string>
                <key>spriteSourceSize</key>
                <string>{94,138}</string>
                <key>textureRect</key>
                <string>{{1,486},{94,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,51}</string>
                <key>spriteSourceSize</key>
                <string>{32,51}</string>
                <key>textureRect</key>
                <string>{{65,963},{32,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,63}</string>
                <key>spriteSourceSize</key>
                <string>{83,63}</string>
                <key>textureRect</key>
                <string>{{167,348},{83,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,62}</string>
                <key>spriteSourceSize</key>
                <string>{83,62}</string>
                <key>textureRect</key>
                <string>{{65,878},{83,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,164}</string>
                <key>spriteSourceSize</key>
                <string>{125,164}</string>
                <key>textureRect</key>
                <string>{{1,261},{125,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,88}</string>
                <key>spriteSourceSize</key>
                <string>{70,88}</string>
                <key>textureRect</key>
                <string>{{182,179},{70,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,124}</string>
                <key>spriteSourceSize</key>
                <string>{179,124}</string>
                <key>textureRect</key>
                <string>{{1,135},{179,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,132}</string>
                <key>spriteSourceSize</key>
                <string>{182,132}</string>
                <key>textureRect</key>
                <string>{{1,1},{182,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,122}</string>
                <key>spriteSourceSize</key>
                <string>{129,122}</string>
                <key>textureRect</key>
                <string>{{1,639},{129,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,65}</string>
                <key>spriteSourceSize</key>
                <string>{113,65}</string>
                <key>textureRect</key>
                <string>{{185,1},{113,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,102}</string>
                <key>spriteSourceSize</key>
                <string>{114,102}</string>
                <key>textureRect</key>
                <string>{{132,739},{114,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,84}</string>
                <key>spriteSourceSize</key>
                <string>{77,84}</string>
                <key>textureRect</key>
                <string>{{167,269},{77,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,116}</string>
                <key>spriteSourceSize</key>
                <string>{110,116}</string>
                <key>textureRect</key>
                <string>{{141,487},{110,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,96}</string>
                <key>spriteSourceSize</key>
                <string>{151,96}</string>
                <key>textureRect</key>
                <string>{{1,388},{151,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,55}</string>
                <key>spriteSourceSize</key>
                <string>{137,55}</string>
                <key>textureRect</key>
                <string>{{1,582},{137,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,72}</string>
                <key>spriteSourceSize</key>
                <string>{95,72}</string>
                <key>textureRect</key>
                <string>{{154,413},{95,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,62}</string>
                <key>spriteSourceSize</key>
                <string>{93,62}</string>
                <key>textureRect</key>
                <string>{{1,878},{93,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,106}</string>
                <key>spriteSourceSize</key>
                <string>{132,106}</string>
                <key>textureRect</key>
                <string>{{140,605},{132,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,47}</string>
                <key>spriteSourceSize</key>
                <string>{63,47}</string>
                <key>textureRect</key>
                <string>{{202,843},{63,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,113}</string>
                <key>spriteSourceSize</key>
                <string>{124,113}</string>
                <key>textureRect</key>
                <string>{{1,763},{124,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>obj001.png</string>
            <key>size</key>
            <string>{253,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a50e68a3c3404c78f49fb3dda0f0f940:41fa27ec920e1816d9bed3e480a865fe:f9d44f3c03d7aca4b9d65c24a24069c5$</string>
            <key>textureFileName</key>
            <string>obj001.png</string>
        </dict>
    </dict>
</plist>
