<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{533,141}</string>
                <key>spriteSourceSize</key>
                <string>{533,141}</string>
                <key>textureRect</key>
                <string>{{0,0},{533,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,114}</string>
                <key>spriteSourceSize</key>
                <string>{169,114}</string>
                <key>textureRect</key>
                <string>{{127,141},{169,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,114}</string>
                <key>spriteSourceSize</key>
                <string>{169,114}</string>
                <key>textureRect</key>
                <string>{{296,141},{169,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,114}</string>
                <key>spriteSourceSize</key>
                <string>{169,114}</string>
                <key>textureRect</key>
                <string>{{465,141},{169,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,114}</string>
                <key>spriteSourceSize</key>
                <string>{169,114}</string>
                <key>textureRect</key>
                <string>{{634,141},{169,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,114}</string>
                <key>spriteSourceSize</key>
                <string>{169,114}</string>
                <key>textureRect</key>
                <string>{{0,255},{169,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,114}</string>
                <key>spriteSourceSize</key>
                <string>{169,114}</string>
                <key>textureRect</key>
                <string>{{169,255},{169,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,114}</string>
                <key>spriteSourceSize</key>
                <string>{169,114}</string>
                <key>textureRect</key>
                <string>{{338,255},{169,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,114}</string>
                <key>spriteSourceSize</key>
                <string>{169,114}</string>
                <key>textureRect</key>
                <string>{{507,255},{169,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,114}</string>
                <key>spriteSourceSize</key>
                <string>{169,114}</string>
                <key>textureRect</key>
                <string>{{676,255},{169,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,30}</string>
                <key>spriteSourceSize</key>
                <string>{37,30}</string>
                <key>textureRect</key>
                <string>{{533,0},{37,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,30}</string>
                <key>spriteSourceSize</key>
                <string>{37,30}</string>
                <key>textureRect</key>
                <string>{{570,0},{37,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,31}</string>
                <key>spriteSourceSize</key>
                <string>{39,31}</string>
                <key>textureRect</key>
                <string>{{607,0},{39,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,30}</string>
                <key>spriteSourceSize</key>
                <string>{38,30}</string>
                <key>textureRect</key>
                <string>{{646,0},{38,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,30}</string>
                <key>spriteSourceSize</key>
                <string>{63,30}</string>
                <key>textureRect</key>
                <string>{{684,0},{63,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,30}</string>
                <key>spriteSourceSize</key>
                <string>{62,30}</string>
                <key>textureRect</key>
                <string>{{747,0},{62,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,31}</string>
                <key>spriteSourceSize</key>
                <string>{64,31}</string>
                <key>textureRect</key>
                <string>{{0,141},{64,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,30}</string>
                <key>spriteSourceSize</key>
                <string>{63,30}</string>
                <key>textureRect</key>
                <string>{{64,141},{63,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buildask.png</string>
            <key>size</key>
            <string>{845,369}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4358d6d875441fa15b280f5849bee0c1:5b224687de06ef3031be6a94bb67136d:b6c709faed6a217226b186aa5b06db50$</string>
            <key>textureFileName</key>
            <string>buildask.png</string>
        </dict>
    </dict>
</plist>
