<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{0,0},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,2}</string>
                <key>spriteSourceSize</key>
                <string>{40,2}</string>
                <key>textureRect</key>
                <string>{{338,600},{40,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,2}</string>
                <key>spriteSourceSize</key>
                <string>{40,2}</string>
                <key>textureRect</key>
                <string>{{378,600},{40,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,67}</string>
                <key>spriteSourceSize</key>
                <string>{42,67}</string>
                <key>textureRect</key>
                <string>{{418,600},{42,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,67}</string>
                <key>spriteSourceSize</key>
                <string>{42,67}</string>
                <key>textureRect</key>
                <string>{{460,600},{42,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,67}</string>
                <key>spriteSourceSize</key>
                <string>{42,67}</string>
                <key>textureRect</key>
                <string>{{502,600},{42,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,67}</string>
                <key>spriteSourceSize</key>
                <string>{42,67}</string>
                <key>textureRect</key>
                <string>{{544,600},{42,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,67}</string>
                <key>spriteSourceSize</key>
                <string>{42,67}</string>
                <key>textureRect</key>
                <string>{{586,600},{42,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,67}</string>
                <key>spriteSourceSize</key>
                <string>{42,67}</string>
                <key>textureRect</key>
                <string>{{628,600},{42,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,67}</string>
                <key>spriteSourceSize</key>
                <string>{42,67}</string>
                <key>textureRect</key>
                <string>{{670,600},{42,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,67}</string>
                <key>spriteSourceSize</key>
                <string>{42,67}</string>
                <key>textureRect</key>
                <string>{{712,600},{42,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,53}</string>
                <key>spriteSourceSize</key>
                <string>{97,53}</string>
                <key>textureRect</key>
                <string>{{0,600},{97,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,67}</string>
                <key>spriteSourceSize</key>
                <string>{42,67}</string>
                <key>textureRect</key>
                <string>{{754,600},{42,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,67}</string>
                <key>spriteSourceSize</key>
                <string>{42,67}</string>
                <key>textureRect</key>
                <string>{{0,672},{42,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,67}</string>
                <key>spriteSourceSize</key>
                <string>{42,67}</string>
                <key>textureRect</key>
                <string>{{42,672},{42,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,67}</string>
                <key>spriteSourceSize</key>
                <string>{42,67}</string>
                <key>textureRect</key>
                <string>{{84,672},{42,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,67}</string>
                <key>spriteSourceSize</key>
                <string>{42,67}</string>
                <key>textureRect</key>
                <string>{{126,672},{42,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,67}</string>
                <key>spriteSourceSize</key>
                <string>{42,67}</string>
                <key>textureRect</key>
                <string>{{168,672},{42,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,67}</string>
                <key>spriteSourceSize</key>
                <string>{42,67}</string>
                <key>textureRect</key>
                <string>{{210,672},{42,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,67}</string>
                <key>spriteSourceSize</key>
                <string>{42,67}</string>
                <key>textureRect</key>
                <string>{{252,672},{42,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,67}</string>
                <key>spriteSourceSize</key>
                <string>{42,67}</string>
                <key>textureRect</key>
                <string>{{294,672},{42,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,67}</string>
                <key>spriteSourceSize</key>
                <string>{42,67}</string>
                <key>textureRect</key>
                <string>{{336,672},{42,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,53}</string>
                <key>spriteSourceSize</key>
                <string>{97,53}</string>
                <key>textureRect</key>
                <string>{{97,600},{97,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,67}</string>
                <key>spriteSourceSize</key>
                <string>{42,67}</string>
                <key>textureRect</key>
                <string>{{378,672},{42,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,67}</string>
                <key>spriteSourceSize</key>
                <string>{42,67}</string>
                <key>textureRect</key>
                <string>{{420,672},{42,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>32-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,20}</string>
                <key>spriteSourceSize</key>
                <string>{40,20}</string>
                <key>textureRect</key>
                <string>{{462,672},{40,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,20}</string>
                <key>spriteSourceSize</key>
                <string>{40,20}</string>
                <key>textureRect</key>
                <string>{{502,672},{40,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>34-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,20}</string>
                <key>spriteSourceSize</key>
                <string>{40,20}</string>
                <key>textureRect</key>
                <string>{{542,672},{40,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>35-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,20}</string>
                <key>spriteSourceSize</key>
                <string>{40,20}</string>
                <key>textureRect</key>
                <string>{{582,672},{40,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,72}</string>
                <key>spriteSourceSize</key>
                <string>{16,72}</string>
                <key>textureRect</key>
                <string>{{194,600},{16,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,72}</string>
                <key>spriteSourceSize</key>
                <string>{16,72}</string>
                <key>textureRect</key>
                <string>{{210,600},{16,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,72}</string>
                <key>spriteSourceSize</key>
                <string>{16,72}</string>
                <key>textureRect</key>
                <string>{{226,600},{16,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,72}</string>
                <key>spriteSourceSize</key>
                <string>{16,72}</string>
                <key>textureRect</key>
                <string>{{242,600},{16,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,2}</string>
                <key>spriteSourceSize</key>
                <string>{40,2}</string>
                <key>textureRect</key>
                <string>{{258,600},{40,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,2}</string>
                <key>spriteSourceSize</key>
                <string>{40,2}</string>
                <key>textureRect</key>
                <string>{{298,600},{40,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>goodsstore.png</string>
            <key>size</key>
            <string>{800,739}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18dc49c926c6effb859c3bf8a636fa9f:d8838a0381ebeb2e9a9f6e5787d76113:1c24bd458b87a406ba6048585b814f11$</string>
            <key>textureFileName</key>
            <string>goodsstore.png</string>
        </dict>
    </dict>
</plist>
