<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,472}</string>
                <key>spriteSourceSize</key>
                <string>{240,472}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,472}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,23}</string>
                <key>spriteSourceSize</key>
                <string>{185,23}</string>
                <key>textureRect</key>
                <string>{{1336,131},{185,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,23}</string>
                <key>spriteSourceSize</key>
                <string>{185,23}</string>
                <key>textureRect</key>
                <string>{{1336,156},{185,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{733,199},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{475,208},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{518,208},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{561,208},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{604,205},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{647,205},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{690,205},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,110}</string>
                <key>spriteSourceSize</key>
                <string>{188,110}</string>
                <key>textureRect</key>
                <string>{{752,131},{188,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,128}</string>
                <key>spriteSourceSize</key>
                <string>{800,128}</string>
                <key>textureRect</key>
                <string>{{728,1},{800,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,22}</string>
                <key>spriteSourceSize</key>
                <string>{94,22}</string>
                <key>textureRect</key>
                <string>{{942,131},{94,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,22}</string>
                <key>spriteSourceSize</key>
                <string>{94,22}</string>
                <key>textureRect</key>
                <string>{{942,227},{94,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,22}</string>
                <key>spriteSourceSize</key>
                <string>{94,22}</string>
                <key>textureRect</key>
                <string>{{966,131},{94,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,22}</string>
                <key>spriteSourceSize</key>
                <string>{94,22}</string>
                <key>textureRect</key>
                <string>{{990,131},{94,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,22}</string>
                <key>spriteSourceSize</key>
                <string>{94,22}</string>
                <key>textureRect</key>
                <string>{{1014,131},{94,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,22}</string>
                <key>spriteSourceSize</key>
                <string>{94,22}</string>
                <key>textureRect</key>
                <string>{{1038,131},{94,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,22}</string>
                <key>spriteSourceSize</key>
                <string>{94,22}</string>
                <key>textureRect</key>
                <string>{{1038,227},{94,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,22}</string>
                <key>spriteSourceSize</key>
                <string>{94,22}</string>
                <key>textureRect</key>
                <string>{{1062,131},{94,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,22}</string>
                <key>spriteSourceSize</key>
                <string>{66,22}</string>
                <key>textureRect</key>
                <string>{{728,131},{66,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,22}</string>
                <key>spriteSourceSize</key>
                <string>{66,22}</string>
                <key>textureRect</key>
                <string>{{1192,131},{66,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,123}</string>
                <key>spriteSourceSize</key>
                <string>{202,123}</string>
                <key>textureRect</key>
                <string>{{603,1},{202,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,22}</string>
                <key>spriteSourceSize</key>
                <string>{66,22}</string>
                <key>textureRect</key>
                <string>{{1216,131},{66,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>31-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,22}</string>
                <key>spriteSourceSize</key>
                <string>{66,22}</string>
                <key>textureRect</key>
                <string>{{1240,131},{66,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>32-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,22}</string>
                <key>spriteSourceSize</key>
                <string>{66,22}</string>
                <key>textureRect</key>
                <string>{{1264,131},{66,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>33-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,22}</string>
                <key>spriteSourceSize</key>
                <string>{66,22}</string>
                <key>textureRect</key>
                <string>{{1288,131},{66,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>34-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,22}</string>
                <key>spriteSourceSize</key>
                <string>{66,22}</string>
                <key>textureRect</key>
                <string>{{1312,131},{66,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>35-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,22}</string>
                <key>spriteSourceSize</key>
                <string>{66,22}</string>
                <key>textureRect</key>
                <string>{{1336,181},{66,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,126}</string>
                <key>spriteSourceSize</key>
                <string>{205,126}</string>
                <key>textureRect</key>
                <string>{{475,1},{205,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,33}</string>
                <key>spriteSourceSize</key>
                <string>{179,33}</string>
                <key>textureRect</key>
                <string>{{1134,208},{179,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,51}</string>
                <key>spriteSourceSize</key>
                <string>{75,51}</string>
                <key>textureRect</key>
                <string>{{1086,131},{75,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,51}</string>
                <key>spriteSourceSize</key>
                <string>{75,51}</string>
                <key>textureRect</key>
                <string>{{1139,131},{75,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,51}</string>
                <key>spriteSourceSize</key>
                <string>{57,51}</string>
                <key>textureRect</key>
                <string>{{1360,181},{57,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,51}</string>
                <key>spriteSourceSize</key>
                <string>{57,51}</string>
                <key>textureRect</key>
                <string>{{1413,181},{57,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>minter.png</string>
            <key>size</key>
            <string>{1529,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b42c2e2de454d32b0b7ff2caa0e06de9:1a2b9c0c9cbea00164e59927ec1bdd3a:0f909036d46d6e039d91ff21221aeea5$</string>
            <key>textureFileName</key>
            <string>minter.png</string>
        </dict>
    </dict>
</plist>
