<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,246}</string>
                <key>spriteSourceSize</key>
                <string>{51,246}</string>
                <key>textureRect</key>
                <string>{{1,603},{51,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,246}</string>
                <key>spriteSourceSize</key>
                <string>{51,246}</string>
                <key>textureRect</key>
                <string>{{249,603},{51,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,246}</string>
                <key>spriteSourceSize</key>
                <string>{51,246}</string>
                <key>textureRect</key>
                <string>{{497,603},{51,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,246}</string>
                <key>spriteSourceSize</key>
                <string>{51,246}</string>
                <key>textureRect</key>
                <string>{{745,603},{51,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,246}</string>
                <key>spriteSourceSize</key>
                <string>{51,246}</string>
                <key>textureRect</key>
                <string>{{803,1},{51,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,246}</string>
                <key>spriteSourceSize</key>
                <string>{51,246}</string>
                <key>textureRect</key>
                <string>{{803,249},{51,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,246}</string>
                <key>spriteSourceSize</key>
                <string>{51,246}</string>
                <key>textureRect</key>
                <string>{{856,1},{51,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,246}</string>
                <key>spriteSourceSize</key>
                <string>{51,246}</string>
                <key>textureRect</key>
                <string>{{909,1},{51,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,246}</string>
                <key>spriteSourceSize</key>
                <string>{51,246}</string>
                <key>textureRect</key>
                <string>{{962,1},{51,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,246}</string>
                <key>spriteSourceSize</key>
                <string>{51,246}</string>
                <key>textureRect</key>
                <string>{{856,249},{51,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,246}</string>
                <key>spriteSourceSize</key>
                <string>{51,246}</string>
                <key>textureRect</key>
                <string>{{909,249},{51,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,246}</string>
                <key>spriteSourceSize</key>
                <string>{51,246}</string>
                <key>textureRect</key>
                <string>{{962,249},{51,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>title.png</string>
            <key>size</key>
            <string>{1014,655}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:180e9954f6a15ab8f20d5142409ed78d:e635ff6d996253b553f3b07daecca951:eac3319ae54fe6d043150c971d4e6759$</string>
            <key>textureFileName</key>
            <string>title.png</string>
        </dict>
    </dict>
</plist>
